* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html{
overflow: hidden;

}
body{
  overflow: hidden;
  font-size: 100%;
}
.logo{
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 15%;
}
nav {
	top: 15%;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 100;
  height: 90%;
  left: 0;
  width: 15%;
  font-weight: 300;
  font-size: 1rem;
}
nav em {
	font-style: normal;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	margin-top: 15px;
	color: #fff;
}

nav ul li a {
	text-align: center;
}

nav ul {
	position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: left;
	list-style-type: none;
	height: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
	-ms-flex-pack: distribute;
  justify-content: space-around;
}
nav ul li {
	text-align: center;
	margin: 5px 0px;
}
nav a, nav a:visited, nav a:active {
  color: #fff;
}
nav a {
	text-decoration: none!important;
	display: inline-block;
	width: 140px;
	padding: 15px 0px;
	position: relative;
	z-index: 0;
	transition: all .5s;
}
nav a.active {
  background-color: rgba(0,0,0,0.8);
}
nav a::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
}

nav ul li:hover{
  color: rgba(210, 210, 69, 1);
  transform: scale(1.3);
}
.fas a:hover{
  color: rgba(210, 210, 69, 1);
  transform: scale(1.3);
}

fa a::before{
  align-items: center;
}

img{
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border-style: none;
}
.boom{
  display: block;
  width: 500vw;
  height: 100vh;
  right: 15%;
  margin: 0;
  padding: 0;
  }
  .moob{
    height: 100vh;
    width: 100vw;
    float: left;

    text-align: center;

    background-size: cover;
  }

.moob ul{
  list-style-type: none;
  width: 100%;
  height: 100%;
  margin:0;
  position: relative;
  padding: 0;
  float: left;

}
.moob ul li{
  display: inline-block;

}
.inspiring{
  right: 15%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
}


.center:hover{
  color: rgba(210, 210, 69, 1);
}

h6{
  color: #FFF;
  font-size: 1.5em;

}
h2{
  color: #FFF;
  font-size: 3em;
}
h2:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);transform: scale(1.3);
}
h6:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);transform: scale(1.3);
}


.background{
  position: absolute;
}
.smallimg{
  position: absolute;
  margin-left: 20%;
  z-index: 99999;
  bottom: 30px;
  right: 30px;
}
.smallimg ul{
  list-style-type: none;

  padding: 0;
  margin: 0;
}
.smallimg ul li{
  display: inline-block;
    max-width: 120px;
  max-height: 120px;
  margin-left: 30px;
  cursor: pointer;
  border: 5px solid transparent;
  transition: all 0.5s;
  position: relative;
  text-align: center;
  color: white;
  text-overflow: 50%;
  transition: all .2s ease-in-out;

}
.smallimg ul li:hover{
  box-shadow: 0 0 11px rgba(35, 86, 80, 0.89);transform: scale(1.5);
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .2s ease-in-out;

}
.content{
  position: absolute;
  height: 100%;
  width: 85%;
  left: 15%;


}
.form-control .row {
  border: none;
  border-radius:  none;
}
fieldset{
  border: none;
}
fieldset input, textarea  {
  background-color: rgba(204, 181, 180,0.4);
  color: rgba(255,255,255,0.85);
  text-align: center;
  border-width: 0px;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;


}
fieldset :hover, :valid{
  background-color: rgba(204, 181, 180,0);
}


form#contact{
  position: relative;
  top: 25%;


}
#name, #email, #message{
  margin-bottom: 1%;
  width: 40%;
   height: 6vh;
   font-size: 300%;


}
#message {
  width: 55%;
  height: 25vh;
  font-size: 300%;

}
fieldset button {
  height: 12vh;
  width: 17vh;
  border-radius: 8%;
  color: white;
  font-size: 5vh;
  border: none;
  background-color: rgba(135, 23, 0, 0);
  transition: all .2s ease-in-out;

}
fieldset button:hover{
  background-color: rgba(191, 10, 10, 0);
    transform: scale(1.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#soc {
  position: relative;
  height: 100vh;

}
#soc .fab{
  position: absolute;
  top: 50%;

}
#soc li{
  display: inline-block;
  width: 10%;

}

#soc .fab::before{
 color:white;
 font-size: 10vh;
cursor: pointer;
  transition: all .2s ease-in-out;
}
#soc .fab:hover{
transform: scale(1.5);
}
footer{
  bottom: 0;
  left: 15%;
  height: 5%;
}
footer a{
  text-align: center;
  color: black;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body {
  font-family: 'Raleway', sans-serif;
  background:#eee;
}

.wrapper {
  position: absolute;
  top: 7%;
  left: 40%;
  width: 300px;
  height: 500px;
  perspective: 900px;
}

.container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

#c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}

#c1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}

#c2 {
  left: -100%;
  z-index: 0;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
}

.container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.images {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, #FFF 30%, #d99267 100%);
}

#i1 {
  background: linear-gradient(to bottom, #FFF 30%, #7b88d1 100%);
}

#i2 {
  background: linear-gradient(to bottom, #FFF 30%, #7b88d1 100%);
}

span {
  position: absolute;
  top: 0%;
  left: 55%;
  border-radius: 100%;
  background-color: #fff;
  z-index: 10;
}

.sun {
  position: absolute;
  top: 50%;
  height: 50%;
  left: 0%;
  width: 100%;
}

.sun1 {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px #fff;
}

.st4 {
  fill: #f8c56f;
  opacity: 1;
}

.st5,
.st7 {
  fill: #fff;
}

#sh2 {
  opacity: 0.5;
}

#sh3 {
  opacity: 0.3;
}

.st6 {
  fill: #59476f;
}

.st10 {
  fill: #c5a7e5;
  stroke: #222;
}

.st11 {
  stroke: #212121;
  opacity: 0.5;
}

#sh1 {
  fill: #f8c56f;
  opacity: 0.4;
}

.st0 {
  fill: #a25a62;
  stroke: none;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #a25a62;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #cd775c;
}

.st3 {
  fill: #fff;
  opacity: 0.3;
}

.story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
  z-index: 30;
}

#s1 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

#s2 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 120%);
}

.info {
  position: relative;
  top: 5%;
  text-align: center;
}

h3 {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #eee;
  letter-spacing: 2px;
}

h4 {
  color: #111;
  position: absolute;
  top: 30%;
  left: 50%;
  letter-spacing: 2px;
}

.aw h1 {
  color: #111;
  position: fixed;
  top: 0%;
  left: 40%;
  letter-spacing: 2px;
  color:white;
}

p {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 120%;
  text-align: center;
  justify-content: center;

  letter-spacing: 1px;
}

.page {
  position: absolute;
  top: 80%;
  width: 100%;
  left: 0%;
  height: 20%;
  z-index: 30;
}

.aw{
  position: relative;
  height: 100%;
  width: 100%;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}
